@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", serif;
    text-align: center;
}

header{
    display: flex;
    justify-content: center;
    gap: 100px;
}

.imageHeader img{
    position: relative;
}

.navbar ul, li, a{
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.navbar ul li img{
    gap: 40px;
}

a{
    text-decoration: none;
    color: #000;
}

.investment h1{
    text-align: center;
    font-size: 54px;
    font-weight: 600;
    height: 162px;
    margin-top: 100px;
    line-height:81px;
}

.investment p{
    font-size: 21px;
}

.btn-investment{
    border-radius: 52%;
    width: 196px;
    height: 51px;
    background-color: blue;
    color: #fff;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 8px;
    gap: 8px;
    top: 455px;
}

span{
    color: blue;
}

